/* GLOBAL */

#header{
}

#footer{
}

.generic_box{
padding: 15px 15px 15px;
margin: 0 auto 20px;
background-color: #fff;
border: 1px solid #e5e5e5;
-webkit-border-radius: 5px;
   -moz-border-radius: 5px;
        border-radius: 5px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.generic_box .checkbox{
margin-bottom: 10px;
}

.generic_box h1{
font-size:20px;
margin:-3px 0px 0px;
padding:0px;
}

.generic_box .separator{
height:1px;
width:100%;
border-bottom:1px solid #cccccc;
margin-bottom:10px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.mouse_hover:hover{
cursor:pointer;
}

.button_wrapper{
width: 120px;
height: 25px;
position: relative;
cursor: pointer;
margin-bottom: 10px;
border: 1px solid #8895a6;
box-shadow: 1px 1px 2px #B0C0D6, 1px 1px 2px #B0C0D6 inset;
}

.button_wrapper:hover{
border: 1px solid yellow;
}

.button_text{
position:absolute;
left:8px;
bottom:3px;
color: #8895a6;
text-shadow: 1px 1px 1px #B0C0D6;
}

#pagination_global a{
min-width:14px;
text-align:center;
color:#a10010;
}

#pagination_global li.disabled a,
#pagination_global li.active a{
color:gray;
}


/* HEADER.PHP */

#profile_button{
text-decoration: underline;
}

#logout_button{
text-decoration: underline;
cursor: pointer;
}

#logout_button:hover{
text-decoration: underline;
cursor: pointer;
}

.register_button{
color: white;
text-decoration: underline;
}

.register_button:hover{
color: #333333;
}

#alert_button{
color: #fff;
background-image: -moz-linear-gradient(top, #a10010, #b80012);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a10010), to(#b80012));
background-image: -webkit-linear-gradient(top, #a10010, #b80012);
background-image: -o-linear-gradient(top, #a10010, #b80012);
background-image: linear-gradient(to bottom, #a10010, #b80012);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa10010', endColorstr='#ffb80012', GradientType=0);
*background-color: #a10010;
/* Darken IE7 buttons by default so they stand out more given they won't have borders */
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
border: 1px solid #bbbbbb;
*border: 0;
border-bottom-color: #a2a2a2;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
*margin-left: .3em;
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}

#alert_button:hover,
#alert_button:active,
#alert_button.active,
#alert_button.disabled,
#alert_button[disabled] {
color: #333333;
background-color: #e6e6e6;
*background-color: #d9d9d9;
}

#alert_button:hover {
color: #333333;
text-decoration: none;
background-position: 0 0px;
-webkit-transition: background-position 0.05s linear;
-moz-transition: background-position 0.05s linear;
-o-transition: background-position 0.05s linear;
transition: background-position 0.05s linear;
}

#alert_button.active,
#alert_button:active {
background-image: none;
outline: 0;
}

#collapse_link_index,
#collapse_link_tour,
#collapse_link_links,
#collapse_link_status,
#collapse_link_admin,
#collapse_link_control_panel
{
color:white;
}
#collapse_link_index:hover,
#collapse_link_tour:hover,
#collapse_link_links:hover,
#collapse_link_status:hover,
#collapse_link_admin:hover,
#collapse_link_control_panel:hover
{
color:#333333;
}

#logo{
position:absolute;
top: 75px;
left: -120px;
z-index:-1;
}

#collapse_link_index{
font-size:160%
}

/* INDEX.PHP */

#hero-image{
z-index:-1;
position:absolute;
min-height:600px;
width:100%;
background: url('../img/supercomputer_hero.jpg') no-repeat center bottom;
background-size:cover;
}

#hero-text{
position:relative;
top:65px;
height:600px;
width:800px;
margin:0 auto;
text-align:center;
}

#hero-text h1{
font-family: Arial;
font-size:100px;
height:100px;
text-shadow: 2px 2px 2px #000000;
color:white;
margin:0px;
}

#hero-text h2{
font-family: Arial;
font-size:40px;
height:30px;
text-shadow: 2px 2px 2px #000000;
color:white;
margin:0px;
margin-top:-10px;
}

/* LINKS.PHP */

.margin-correction{
margin-bottom:20px;
}

.margin-correction img{
max-width:200px;
}

/* STATUS.PHP */

/* CONTROL_PANEL.PHP */

.ctr_pnl_menu_btn{
cursor: pointer;
}

.ctr_pnl_menu_btn a{
color: #a10010;
}

#file_table tr > td:first-child a{
color:#a10010;
}

ul.breadcrumb a{
color:#a10010;
}

#condor_manager_tab li a{
color:#a10010;
}

#condor_manager_tab li.active a{
color:gray;
}

#condor_manager_box{
padding: 15px 15px 15px;
margin: 0 auto 20px;
background-color: #fff;
border: 1px solid #e5e5e5;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

#ida_plus_sign:hover,
#ida_minus_sign:hover{
cursor:pointer;
}

#ida_table td,
#ida_table th{
border-bottom:1px solid white;
}

#ida_table tbody{
border:1px solid white;
}

/* SIGNUP.PHP */

/* ADMIN.PHP */

/* PROFILE.PHP */

/* CUSTOM POPOVER */
.custom-popover {
  position: absolute;
  top: 34px;
  left: 0px;
  z-index: 1010;
  width: 400px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #ffffff;
  border: 1px solid #a10010;
  border: 1px solid rgba(161, 0, 16, 1);
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.custom-popover.top {
  margin-top: -10px;
}

.custom-popover.right {
  margin-left: 10px;
}

.custom-popover.bottom {
  margin-top: 10px;
}

.custom-popover.left {
  margin-left: -10px;
}

.custom-popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #a10010;
  -webkit-border-radius: 5px 5px 0 0;
     -moz-border-radius: 5px 5px 0 0;
          border-radius: 5px 5px 0 0;
}

.custom-popover-content {
  padding: 9px 14px;
}

.custom-popover .arrow,
.custom-popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.custom-popover .arrow {
  border-width: 11px;
}

.custom-popover .arrow:after {
  border-width: 10px;
  content: "";
}

.custom-popover.top .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, 0.25);
  border-bottom-width: 0;
}

.custom-popover.top .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  border-top-color: #ffffff;
  border-bottom-width: 0;
}

.custom-popover.right .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, 0.25);
  border-left-width: 0;
}

.custom-popover.right .arrow:after {
  bottom: -10px;
  left: 1px;
  border-right-color: #ffffff;
  border-left-width: 0;
}

.custom-popover.bottom .arrow {
  top: -11px;
  left: 10%;
  margin-left: -11px;
  border-bottom-color: #a10010;
  border-bottom-color: rgba(161, 0, 16, 0.25);
  border-top-width: 0;
}

.custom-popover.bottom .arrow:after {
  top: 1px;
  margin-left: -10px;
  border-bottom-color: #ffffff;
  border-top-width: 0;
}

.custom-popover.left .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, 0.25);
  border-right-width: 0;
}

.custom-popover.left .arrow:after {
  right: 1px;
  bottom: -10px;
  border-left-color: #ffffff;
  border-right-width: 0;
}
