/* global */

body {
/*border:1px solid #ff0000;*/
margin:0px;
}

/* index */

#main_panel {
border-left:1px solid #8895a6;
border-right:1px solid #8895a6;
border-bottom:1px solid #8895a6;
margin-left:auto;
margin-right:auto;
width:1000px;
position:relative;
padding:8px;
}

#content_panel {
border-left:1px solid #8895a6;
border-right:1px solid #8895a6;
border-bottom:1px solid #8895a6;
margin-left:auto;
margin-right:auto;
width:1000px;
position:relative;
padding:8px;
overflow:hidden;
}

.login_section{
padding:3px;
border:1px solid #8895a6;
width:180px;
margin-left:auto;
margin-right:0px;
position:relative;
height:48px;
}

#login_prompt{
padding:3px;
border:1px solid black;
width:180px;
position:absolute;
right:8px;
bottom:-24px;
}

#signup_button span{
float:right;
/*padding-top:3px;*/
padding-right:5px;
text-decoration:underline;
color:black;
}

#login_button{
/*padding-top:3px;*/
padding-left:4px;
text-decoration:underline;
cursor:pointer;
color:black;
}

#logout_button{
/*padding-top:3px;*/
text-decoration:underline;
cursor:pointer;
color:black;
}

#logout_text{
position:absolute;
left:9px;
bottom:7px;
}

/* main content */

#input_box {
padding:10px;
border:1px solid #8895a6;
position:relative;
width:auto;
float:left;
padding-bottom:5px;
}

#output_box {
padding-left:10px;
padding-right:10px;
border:1px solid #8895a6;
position:relative;
float:left;
margin-left:8px;
}

.button_wrapper{
position:relative;
padding-bottom:5px;
cursor:pointer;
}

.button_text{
position:absolute;
left:8px;
bottom:7px;
}




